ul {
  background-color: #0d6efd;
  color: white;
  padding: 10px;
  list-style-type: none;
}

li {
  padding: 5px;
}
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">Features</a></li>
  <li><a href="#contact">Pricing</a></li>
  <li class="right"><a href="#about">Disabled<</a></li>
</ul>
